.header {
  height: 270px;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4%;
  
  .menu-bar {
    display: flex;
    padding :10px 0;
  }

  .menu {
    margin-left: 30px;
    font-size: 14.4px;
  }

  .instagram img {
    width: 20px;
  }
}

.main-visual img {
  height: 420px;
  width: 100%;
  max-width: 1920px;
  margin-bottom: 80px;
}
  
.contents {
  max-width: 960px;
  margin: 0 auto 130px;
  padding: 0 4%;
  font-size: 0.9rem;
  
  .sec-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 65px;
    font-size: 1.5rem;
  }
  
  .text {
    margin-bottom: 30px;
    }

  .works-pic {
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
    flex-wrap: wrap;

    li {
      width: 31%;
      margin-bottom: 23px;

      img {
        max-width: 100%;
      }
    }
  }

  .news-list {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;

    dt {
      width: 20%;
      border-bottom: solid 1px #c8c8c8;
      padding: 15px;
      font-weight: 100;
    }

    dd {
      width: 80%;
      border-bottom: solid 1px #c8c8c8;
      padding: 15px;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
    input {
      width: 100%;
      border: solid 1px #c8c8c8;
      padding: 10px;
    }

    dt {
      padding: 10px;
      width: 15%;
      font-weight: 100;
    }

    dd {
      width: 85%;
      margin-bottom: 10px;
    }

    textarea {
      height: 10rem;
      width: 100%;
      margin-bottom: 10px;
      border: solid 1px #c8c8c8;
    }

  }
  
  .button  {
    text-align: center;
    
    input {
      width: 200px;
      background-color: #24292e;
      color: #fff;
      padding: 15px 0;
      border: solid 1px #24292e;
      text-align: center;
      
      &:hover {
        background-color: #fff;
        color:#24292e;
      }
    }

  }

}

footer {
  background-color: #24292e;
  color: #fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}

